<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category  Webkul
 * @package   Webkul_MarketplaceCustomization
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Magento\Checkout\Block\Checkout\LayoutProcessor"
                type="Webkul\CheckoutCustomization\Block\Checkout\LayoutProcessor" /> -->
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="customization_billing" xsi:type="object">Webkul\CheckoutCustomization\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>